html {
	margin: 0;
	padding: 0;
	background-color: #008dad;
}
body {
	width: 70%;
	margin: 0 auto;
	font: 100% Arial, Helvetica, sans-serif;
	padding: 1em 50px;
	background: #c6c5c4;
	border-bottom: 10px solid #c93900;
}
